<title>Home</title>

<center>
	<div class="chat-box">
		<div class="list-user">
			<ul>
				<li ng-repeat="user in listUser">{{ user }}</li>
			</ul>
		</div>
		<div>
			<div class="list-messages">
				<ul>
					<li ng-repeat="message in listMessage">
						<h4>{{ message.id }}</h4>
						<p>{{ message.message }}</p>
					</li>
				</ul>
			</div>
			<div class="message-box">
				<textarea ng-model="message" ng-keydown="send($event, myID, message)"></textarea>
			</div>
		</div>
	</div>
</center>
