<title>{{'SIGN IN' | translate}}</title>

<center>
  <div class="sign_form tron_blue">
    <h2>{{'SIGN IN' | translate}}</h2>
    <form action="/authentication/signin" method="post">
      <input type="email" class="form-control" placeholder="{{'EMAIL' | translate}}" name="email">
      <input type="password" class="form-control" placeholder="{{'PASSWORD' | translate}}" name="password">
      <p style="text-align: right;"><a ui-sref="forgot_password">{{'FORGOT' | translate}}?</a></p>
      <button>{{"SIGN IN" | translate}}</button>
      <p>{{'DONT HAVE AN ACCOUNT' | translate}}? <a ui-sref="sign_up">{{'SIGN UP' | translate}}</a></p>
    </form>
  </div>
  <p>
    <span style="font-weight: bold; text-decoration: underline !important;">Browser agent</span>
    <span>: {{ ::agent }}</span>
  </p>
</center>