<title>{{'SIGN UP' | translate}}</title>

<center>
  <div class="sign_form">
    <h2>{{'SIGN UP' | translate}}</h2>
    <form action="/authentication/register" method="post">
    	<input class="form-control" required type="email" ng-model="email" name="email" placeholder="{{'EMAIL' | translate}} (*)">
      <input class="form-control" type="text" name="username" placeholder="{{'NAME' | translate}}">
	    <input class="form-control" required type="password" ng-model="password" name="password" placeholder="{{'PASSWORD' | translate}} (*)">
	    <input class="form-control" required type="password" ng-model="confirm" placeholder="{{'CONFIRM PASSWORD' | translate}} (*)">
	    <button type="submit" ng-disabled="email === undefined || password !== confirm || password === undefined || confirm === undefined">{{'SIGN UP' | translate}}</button>
    </form>
    
    
    <p>{{'ALREADY HAVE AN ACCOUNT' | translate}}? <a ui-sref="sign_in">{{'SIGN IN' | translate}}</a></p>
  </div>
</center>