.fa {
  font-family: FontAwesome !important; }

* {
  font-family: monospace, monospace !important;
  color: #00FE00 !important;
  background-color: #222222 !important;
  text-decoration: none !important;
  border-radius: 0px !important; }
  * input, * button {
    border: 0.2px solid #CCCCCC !important; }
  * input:focus, * input:active {
    border: 0.2px solid #CCCCCC !important; }
  * li {
    list-style-type: none; }

*:focus, *:active {
  box-shadow: none !important;
  -webkit-appearance: none !important;
  outline: none !important; }

*[disabled] {
  cursor: not-allowed !important; }

.container {
  padding: 0px;
  margin: 0px; }

.logo {
  border: none;
  font-weight: bold;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 0px;
  margin: 0px;
  text-align: center;
  font-size: 13px;
  margin-left: -15px;
  margin-top: 50px; }

.sign_form {
  width: 50%;
  border: 0.2px solid #CCCCCC !important;
  padding: 0px 20px 25px 20px;
  min-width: 300px;
  max-width: 350px;
  margin-bottom: 70px; }
  .sign_form a:hover {
    color: #CCCCCC !important;
    background-color: #222222 !important; }
  .sign_form * {
    margin-bottom: 5px; }

.tools {
  width: 60%;
  display: flex;
  justify-content: flex-end; }
  .tools ul {
    left: calc(100% - 162px);
    border: 0.2px solid #CCCCCC; }
    .tools ul .divider {
      background-color: #CCCCCC !important; }
    .tools ul li form button {
      padding: 3px 20px;
      border: none !important;
      width: 100%;
      text-align: left; }
    .tools ul li a:hover, .tools ul li form button:hover {
      color: #CCCCCC !important;
      background-color: #222222 !important;
      background-image: -webkit-gradient(linear, left top, left bottom, from(#222222), to(#222222)) !important; }

.chat-box {
  width: 100%;
  height: 100vh;
  overflow: hidden; }
  .chat-box .info {
    height: auto;
    width: 100%;
    padding: 10px 10px 0px 10px;
    cursor: pointer; }
    .chat-box .info div {
      width: 100%;
      display: flex; }
      .chat-box .info div p {
        font-size: 20px;
        width: 100%; }
      .chat-box .info div i {
        padding-top: 8px; }
    .chat-box .info .dropdown-menu {
      top: 35px;
      margin: 0px;
      background-color: #333 !important;
      padding: 0px; }
      .chat-box .info .dropdown-menu li {
        text-align: right; }
        .chat-box .info .dropdown-menu li a {
          background-color: #333 !important; }
      .chat-box .info .dropdown-menu .divider {
        background-color: #CCCCCC !important;
        margin: 0px; }
    .chat-box .info i {
      float: right; }
  .chat-box .left-content {
    height: 100%;
    width: 220px;
    border-right: 0.2px solid #CCCCCC;
    position: absolute; }
    .chat-box .left-content .channel-and-rooms {
      padding: 10px;
      height: calc(100% - 68px);
      overflow-y: auto;
      margin: 0px; }
      .chat-box .left-content .channel-and-rooms li {
        width: 100%;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        padding: 0px 0px 5px; }
      .chat-box .left-content .channel-and-rooms .divider {
        padding: 0px;
        margin-bottom: 5px;
        cursor: pointer;
        display: flex; }
        .chat-box .left-content .channel-and-rooms .divider * {
          color: #CCCCCC !important; }
        .chat-box .left-content .channel-and-rooms .divider p {
          width: 100%; }
        .chat-box .left-content .channel-and-rooms .divider i {
          padding-top: 5px; }
      .chat-box .left-content .channel-and-rooms .divider:hover * {
        color: white !important; }
    .chat-box .left-content button {
      width: 100%;
      border: none !important;
      border-top: 1px solid #CCCCCC !important; }
  .chat-box .right-content {
    width: calc(100% - 220px);
    border: 0.2px solid #CCCCCC;
    height: calc(100% - 2px);
    position: absolute;
    left: 220px;
    overflow: hidden; }
    .chat-box .right-content div {
      height: calc(100% - 80px); }
      .chat-box .right-content div .list-message {
        height: 100%;
        overflow-y: auto;
        padding-left: 10px; }
        .chat-box .right-content div .list-message li {
          padding-top: 10px;
          display: flex;
          height: 30px; }
          .chat-box .right-content div .list-message li span {
            background-color: #00FE00 !important;
            color: #222 !important;
            font-weight: bold;
            padding: 0px 3px; }
          .chat-box .right-content div .list-message li p {
            margin-left: 10px; }
    .chat-box .right-content .message-box {
      position: absolute;
      bottom: -3px;
      height: 80px;
      width: 100%; }
      .chat-box .right-content .message-box textarea {
        height: 100%;
        width: 100%;
        border: 0px;
        border-bottom: 0.2px solid #CCCCCC;
        border-top: 0.2px solid #CCCCCC; }

.modal-lg {
  margin: 0px; }
  .modal-lg .modal-content {
    height: 100vh;
    width: 100vw; }
    .modal-lg .modal-content .modal-header {
      border: 0px; }
      .modal-lg .modal-content .modal-header button {
        border: 0px !important; }
    .modal-lg .modal-content .modal-body div {
      display: flex; }
      .modal-lg .modal-content .modal-body div input {
        width: 100%;
        font-size: 20px;
        padding: 0px 10px;
        height: 50px; }
      .modal-lg .modal-content .modal-body div button {
        width: 50px; }
    .modal-lg .modal-content .modal-body ul {
      height: calc(100vh - 170px);
      overflow-y: auto;
      margin-top: 20px;
      padding: 0px; }
      .modal-lg .modal-content .modal-body ul div {
        padding: 0px 0px 15px; }

/*# sourceMappingURL=style.css.map */
